* {
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.text-center {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.row > * {
    padding: 0.5rem;
}
.row > *:first-child {
    padding-left: 0;
}
.row > *:last-child {
    padding-right: 0;
}
.row > div {
    flex: 2;
}
.row > aside {
    flex: 1;
}
#error-item {
    display: none;
    margin-bottom: 1rem;
}
.error-box {
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

/** generic forms **/
.imoneza-form .form-row {
    margin-bottom: 1.4rem;
}
.imoneza-form .form-row-spacing-top {
    margin-top: 1.4rem;
}
.imoneza-form label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    padding-right: 1%;
    vertical-align: super;
    width: 33%;
}
.imoneza-form .large-text {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 64%;
}
.imoneza-form textarea {
    width: 64%;
    height: 5rem;
}
.imoneza-form .toggle label {
    width: auto;
}
.imoneza-form .toggle-label {
    margin-top: 6px;
    vertical-align: top;
}
.toggle {
    overflow: hidden;
    display: inline-block;
}
.toggle input {
    display: none;
}
.toggle label {
    float: left;
    display: inline-block;
    width: 60px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}
.toggle label:hover {
    cursor: pointer;
}
.toggle input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.toggle input:checked + label.negative {
    background-color: #FF928D;
}
.toggle label:first-of-type {
    border-radius: 4px 0 0 4px;
}
.toggle label:last-of-type {
    border-radius: 0 4px 4px 0;
}
.imoneza-admin-spinner {
    visibility: visible;
    float: none;
}
.imoneza-result-message {
    padding: 0.2rem 1rem 0 1rem;
    display: inline-block;
}
.imoneza-form .label-for-radio-container, .imoneza-form .label-for-textarea {
    vertical-align: top;
}
.radio-container {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 66%;
}
.radio-container label {
    width: auto;
}
.radio-container li {
    display: inline-block;
    width: 25%;
}
.radio-container li:last-child {
    width: 100%;
}

/** specific to the custom indicator **/
#edit-custom-indicator {
    text-decoration: none;
    vertical-align: super;
    margin-left: 4px;
}
#imoneza-custom-indicator-text {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    font-size: 13px;
    display: none;
}
#imoneza-custom-indicator-text:focus {
    outline: 0;
}

/** card layouts **/
.i-card {
    background-color: #ffffff;
    padding: 0.1rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0.5rem auto;
}
.i-card .success {
    color: #00AD2A;
}
.i-card .error {
    color: #E90000;
}
.i-card .large {
    font-size: 1.5rem;
}
.i-card hr {
    margin: 2rem 0;
}

/** header and text size things **/
.large .dashicons {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}
h2.branded-header img {
    height: 2rem;
    margin-right: 0.3rem;
    vertical-align: bottom;
}
h2.logo-header {
    text-align: center;
    background-color: #414143;
}
.logo-header img {
    height: 3rem;
}

/** first time **/
#imoneza-first-form {
    width: 30rem;
    margin: 2rem auto 0 auto;
}
#imoneza-first-form label {
    width: 10rem;
    vertical-align: sub;
}
#imoneza-first-form input[type=text] {
    width: 19rem;
}
#imoneza-first-form p.submit {
    padding-left: 10.2rem;
}

/** options form **/
#submit-message {
    padding: 0.2rem 1rem;
    display: inline-block;
}

/** post metabox **/
#override-pricing {
    display: none;
}
#override-pricing label {
    display: inline-block;
    width: 7rem;
}

/** used in user.css but why load this too **/
.imoneza-custom-indicator {
    background: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 4px;
    font-weight: normal;
    display: inline-block;
}