* {
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.row > * {
    padding: 0.5rem;
}
.row > *:first-child {
    padding-left: 0;
}
.row > *:last-child {
    padding-right: 0;
}
.row > div {
    flex: 2;
}
.row > aside {
    flex: 1;
}
#error-item {
    display: none;
    margin-bottom: 1rem;
}
.error-box {
    background: #ff0000;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

/** generic forms **/
.imoneza-form .form-row {
    margin-bottom: 1.4rem;
}
.imoneza-form label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    padding-right: 1%;
    vertical-align: super;
    width: 33%;
}
.imoneza-form input[type=text] {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 64%;
}

/** card layouts **/
.i-card {
    background-color: #ffffff;
    padding: 0.1rem 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0.5rem auto;
}
.i-card .success {
    color: #00AD2A;
}
.i-card .large {
    font-size: 1.5rem;
}
.i-card hr {
    margin: 2rem 0;
}

/** header and text size things **/
.large .dashicons {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}
h2.branded-header img {
    height: 2rem;
    margin-right: 0.3rem;
    vertical-align: bottom;
}
h2.logo-header {
    text-align: center;
    background-color: #414143;
}
.logo-header img {
    height: 3rem;
}


/** first time **/
#first-form {
    width: 30rem;
    margin: 2rem auto 0 auto;
}
#first-form label {
    width: 10rem;
    vertical-align: sub;
}
#first-form input[type=text] {
    width: 19rem;
}
#first-form p.submit {
    padding-left: 10.2rem;
}


