.imoneza-premium-indicator.dashicons {
    width: auto;
    height: auto;
    font-size: inherit;
}
.imoneza-custom-indicator {
    background: #444444;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px 4px;
    font-weight: normal;
    display: inline-block;
}